#date-picker {
  cursor: pointer;
}

.ant-picker-cell {
  padding-right: 6.5px !important;
  padding-left: 6.5px !important;
}

table,
thead {
  // border: 1px solid black;
  border-collapse: collapse;
}
