@import url("./ant-datepicker.scss");
@import url("./ant-tabs.scss");
@import url("./video.scss");
@import url("./ant-card.scss");
@import url("./ant-form.scss");

body {
  margin: 0;
  /* font-family: Open Sans, sans-serif; */
  font-size: 0.96rem;
  // line-height: 1.5;
  color: #525f7f;
  min-width: 1280px;
  /* text-align: left; */
}

::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비를 조절합니다 */
}

::-webkit-scrollbar-thumb {
  background-color: #b4b2b2; /* 스크롤바의 색상을 지정합니다 */
}

/* 수평 스크롤바 스타일 */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* 스크롤바 트랙의 배경색을 지정합니다 */
}

::-moz-scrollbar {
  width: 5px;
}

::-moz-scrollbar-thumb {
  background-color: #888;
}

/* 수평 스크롤바 스타일 */
::-moz-scrollbar-track {
  background-color: #f1f1f1;
}

.ant-btn + .ant-btn {
  @apply mx-3;
}

.ant-btn:last-child {
  @apply mx-0;
}

.ant-layout-sider {
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  /* margin-right: 0.5rem; */
  @apply shadow-lg;
}

.ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-5ohdwd).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  background-color: rgba(94, 114, 228, 0.11);
  font-weight: bolder !important;
}

.ant-menu-item {
  @apply my-5;
}

:where(.css-dev-only-do-not-override-5ohdwd).ant-menu-inline .ant-menu-item,
:where(.css-dev-only-do-not-override-5ohdwd).ant-menu-vertical .ant-menu-item,
:where(.css-dev-only-do-not-override-5ohdwd).ant-menu-inline
  .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-5ohdwd).ant-menu-vertical
  .ant-menu-submenu-title {
  margin-bottom: 0.7rem;
}

:where(.css-dev-only-do-not-override-5ohdwd).ant-menu
  .ant-menu-item
  .ant-menu-item-icon
  + span,
:where(.css-dev-only-do-not-override-5ohdwd).ant-menu
  .ant-menu-submenu-title
  .ant-menu-item-icon
  + span,
:where(.css-dev-only-do-not-override-5ohdwd).ant-menu
  .ant-menu-item
  .anticon
  + span,
:where(.css-dev-only-do-not-override-5ohdwd).ant-menu
  .ant-menu-submenu-title
  .anticon
  + span {
  @apply ml-3;
}

:where(.css-dev-only-do-not-override-5ohdwd).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item:hover,
:where(.css-dev-only-do-not-override-5ohdwd).ant-dropdown-menu-submenu
  .ant-dropdown-menu
  .ant-dropdown-menu-item:hover,
:where(.css-dev-only-do-not-override-5ohdwd).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-submenu-title:hover,
:where(.css-dev-only-do-not-override-5ohdwd).ant-dropdown-menu-submenu
  .ant-dropdown-menu
  .ant-dropdown-menu-submenu-title:hover,
:where(.css-dev-only-do-not-override-5ohdwd).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item-active,
:where(.css-dev-only-do-not-override-5ohdwd).ant-dropdown-menu-submenu
  .ant-dropdown-menu
  .ant-dropdown-menu-item-active,
:where(.css-dev-only-do-not-override-5ohdwd).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-submenu-title-active,
:where(.css-dev-only-do-not-override-5ohdwd).ant-dropdown-menu-submenu
  .ant-dropdown-menu
  .ant-dropdown-menu-submenu-title-active {
  @apply bg-slate-300;
}

.ant-menu-title-content {
  @apply text-gray-600;
}

:where(.css-dev-only-do-not-override-5ohdwd).ant-form-item
  .ant-form-item-label
  > label::after {
  content: "";
}

.ant-dropdown-menu-item {
  padding: 0px !important;
}
